<!--<h1>This is a home page </h1>-->
<!--{{ greeting }}-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<h1>Vise Versa</h1>
<form action=""></form>
<textarea name="usertext" id="" cols="50" rows="10"></textarea>
<br>
<br>
<input type="submit" name="submit_form" id="" value="Reverse!">
<body>

</body>
</html>
